@font-face {
  font-family: 'Willow';
  src: url('https://zdthorpe.github.io/BAHA-Map/assets/WILLOW__.TTF'); /* /Users/zachthorpe/Desktop/CAL/FALL_2025/GEOGC183/WebMap/BAHA-Map-main/WILLOW__.TTF */
}
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Willow', Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #5a4141;
}
p2 {
  max-width: 100px;
  position: absolute;
  top: 110px;
  left: 20px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  font-style: italic;
  color: #828282;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  font-style: normal;
  color: #000000;
}
h3 {
  font-family: 'Willow', Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #5a4141;
  text-align: center ;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
